@property --size {
  syntax: "<length>";
  initial-value: 0px;
  inherits: false;
}

@property --scale {
  syntax: "<number>";
  initial-value: 1;
  inherits: false;
}

@property --pos {
  syntax: "<position>";
  initial-value: center;
  inherits: false;
}

.bubbles {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  grid-column: 1;
  grid-row: 1;
  overflow: hidden;
  position: absolute;
}

.bubble {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2),
    inset 0px 10px 30px 5px rgba(255, 255, 255, 1);

  height: 200px;
  position: absolute;
  width: 200px;
  transition: --size 0.1s linear;
}

.bubble:after {
  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0) 70%
  ); /* W3C */

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);

  content: "";
  height: 180px;
  left: 10px;
  position: absolute;
  width: 180px;
}

.pop {
  animation: explode 0.1s forwards ease-out;
}

@keyframes explode {
  0% {
    opacity: 1;
  }
  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}
